/*#article-page::before {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: 20px 20px;
  background-clip: border-box;
  background-color: rgb(240, 243, 249);
  background-image: url(../img/img_bg_pattern_2x.png);
  background-origin: padding-box;
  background-size: 20px 20px;
  box-sizing: border-box;

  content: "";
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}*/
body {
  padding-top: 70px;
}
.navbar-light {
  background-color: #ffffff;
}

#register {
  text-align: right;
}
.event-background {
  content: "";
  position: relative;
  top: 0
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../img/conference-background-black2.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;
}
.event-title h1, .event-title h2  {
  /*background-color: rgba(246, 146, 22, 1);
  display: inline-block;
  padding: 0 20px;*/
  text-shadow: 2px 2px #000000;

}
.text-center {
  text-align: center;
}

.event-title {
  color: #ffffff !important;
  padding: 300px 0 30px 0;
}

#article-page {
  overflow: auto;
  position: relative;
}

#article-container {
  background-color: #ffffff;
  padding: 40px 30px;
  /*box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);*/
}
.outer {
  position: relative;
}
.fixed {
    position: fixed;
}

.meta-empty {
  max-width:130px;
  width:80%;
  margin: 30px auto;
}
.dropdown-menu {
  left: -140px;
}

span.fa-cog {
  -webkit-transition: -webkit-transform 1.8s ease-in-out;
  transition: transform 1.8s ease-in-out;
}
span.fa-cog:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.highlight {
  background-color: rgba(255, 241, 151, 0.51);
  border-radius: 3px;
  /*font-weight: 500;*/
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.highlight > .highlight {
  background-color: rgba(255, 226, 195, 0.91);
  padding: 2px 0;
}

.blue {background-color: rgba(139, 200, 248, 0.52);}
.green {background-color: rgba(124, 238, 61, 0.52);}
.yellow {background-color: rgba(255, 226, 195, 0.91);}
.purple { background-color: rgba(248, 139, 247, 0.52);}
.orange { background-color: rgb(245, 213, 167);}

#spinner {
  margin-top: 40px;
}
/*#article-container {  text-align: justify;}*/
.alert {
  position: fixed;
  width: 80%;
  z-index: 9999;
  bottom: 0;
  left: 0;
  margin: 10px 10%;
}

#toolkit {
  position: fixed;
  right: 30px;
  top:70px;
  z-index: 100;
}
#comments-table thead{
  text-transform: uppercase;
}
#comment-dialog .modal-body {
  padding-bottom: 0px;
}
#comment-dialog .modal-footer {
  padding: 0px 15px 15px 15px;
  border-top: none;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
    width: 100%;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
    background-color: #c7c7c8;
    width: 10%;
    height: 8px;
    margin-right: 6px;
}
.rating li:hover{
   background-color: #4dc440;
}
.rating .filled {
    background-color: #4dc440;
}
.clear{
  margin-top:20px;
}
