<div id="background-image">

</div>
<div id="article-page">
  <div class="container">
    <div class="row vertical-offset-50">
      <div id="meta-container" class="col-lg-4" >
        <div class="card animated fadeInLeft" ng-repeat="comment in commentsList" ng-mouseover="showSelection($index)" ng-mouseout="hideSelection($index)">
          <div class="card-block">
            <h4>{{comment["@type"]}}</h4>
            <p class="card-text"><i>"{{comment.text | cut:true:100:' ...'}}"</i></p>
            <p class="small text-muted"><a ng-href="{{comment.author}}">{{comment.author}}</a> on {{comment.date | date :  mediumDate}}</p>
          </div>
        </div>
      </div>
      <div id="article-container"
      class="col-xs-12 col-sm-12 col-md-12 col-lg-8 animated fadeInUp"
      ng-mousedown="highlight(event)"
      ng-bind-html="articleBody">
      </div>
      <div>
        <a ng-click="scrollTo('meta-container')">Prova</a>
      </div>
    </div>
  </div>
</div>
