<div id="background-image"></div>

<div id="article-page">
  <div class="container">
    <div class="row vertical-offset-50">
      <div id="meta-container" class="col-lg-4" >
        <div class="card animated fadeInLeft" ng-repeat="comment in commentsList">
          <!-- ng-mouseover="showSelection($index)" ng-mouseout="hideSelection($index)" -->
          <div class="card-block">
            <h4>{{comment["@type"]}}</h4>
            <p class="card-text"><i>"{{comment.text | cut:true:100:' ...'}}"</i></p>
            <p class="small text-muted"><a ng-href="{{comment.author}}">{{comment.author}}</a> on {{comment.date | date :  mediumDate}}</p>
          </div>
        </div>
      </div>

      <!-- Start error alert -->
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error: </strong> {{message}}
      </div><!--  End error alert -->
      <div id="toolkit">
        <div class="btn-group pull-md-right">
          <button class="btn btn-secondary" ng-click="loadRash()"><span class="fa fa-pencil"></span></button>
          <button class="btn btn-secondary  " ng-click="highlight()"><span class="fa fa-check"></span></button>
          <button class="btn btn-secondary " ng-click="exit()"><span class="fa fa-remove"></span></button>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 animated fadeInUp">

        <img id="spinner" src="img/loader.gif" class="img-responsive center-block" ng-show="loading" />
        <article id="article-container"
        class=""
        ng-bind-html="articleBody">
        </article>
      </div>

      <!-- START Comment modal -->
      <div id="comment-modal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="comment-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <fieldset class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="2" placeholder="Insert your comment here." ng-model="text"></textarea>
              </fieldset>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm pull-sm-right" data-dismiss="modal" ng-click="saveComment(text)">Save</button>
              <button type="button" class="btn btn-secondary btn-sm pull-sm-right" data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
      </div><!-- END #comment-modal -->

    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END #article-page -->
