<div class="container">
  <div class="row">
    <h1 class="page-header">
      Article Page
    </h1>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 col-lg-4" id="aside-area">
      <div class="row" id="commented-docs-list-section">
        <ul>
          <li>Commented doc 1</li>
          <li>Commented doc 2</li>
          <li>Commented doc 3</li>
          <li>Commented doc 4</li>
        </ul>
      </div>
      <div class="row" id="annotations-list-section">
        <ul>
          <li>Annotation 1</li>
          <li>Annotation 2</li>
          <li>Annotation 3</li>
          <li>Annotation 4</li>
        </ul>
      </div>

    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-lg-8" id="doc-area">
      <div class="container" id="doc-container">
        <div id="doc-content">
          <h1>Doc header</h1>
          <h2>Doc subheader</h2>
          <p>Here we palce the doc content</p>
          <button ng-click="getInfo()">GET INFO</button>
          <p ng-if="memberinfo">
            {{memberinfo}}
          </p>
          <br><br>
          <button ng-click="destroySession()">DESTROY SESSION</button>
          <br><br>
          <button ng-click="logout()">LOGOUT</button>
          <br /><br />
          <div>
            Test
            <br />
            events: <a href="/#/events">Lista eventi</a><br />
            comments: <a href="/#/annotation-page/example-annotations">Esempio annotazione</a><br />
            comments2: <a href="/#/annotation-page/ciancarini-eswc2014">Esempio articolo lungo e complesso</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
