<div class="jumbotron">
  <div class="container animated fadeInLeft">
    <h1>Welcome {{ userInfo.given_name }} to <span class="logo-emph">EasyRash</span>!</h1>
    <p><b>EasyRash is an innovative platform that allows you to review annotate and evaluatearticles written in <a href="https://github.com/essepuntato/rash/" target="_blank">RASH</a></b></p>
  </div>
</div>
<div class="container animated fadeInDown">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <h2>What you can do</h2>
      <hr />
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" id="events-col">
      <h3>View your events:</h3>
      <div ng-if="events.length > 0" class="animated fadeInUp" ng-repeat="ev in events" >
        <div class="card card-block">
          <h3 class="card-title">{{ev.acronym}}</h3>
          <p class="card-text">{{ev.conference}}</p>
          <a ng-href="/#/event/{{ev._id}}" class="btn btn-primary">View</a>
        </div>
      </div>
      <div ng-if="events.length == 0" class="animated fadeInLeft vertical-offset-70">
        <span class="fa fa-calendar-o fa-3x"></span>
        <h4 class="">No events yet...</h4>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" id="articles-col">
      <h3>Review this aricles: </h3>
      <div ng-if="submissions.length > 0" class="animated fadeInUp" ng-repeat="sub in submissions">
        <div class="card card-block">
          <h4 class="card-title">{{sub.title.split("--")[0]}}</h4>
          <p class="text-muted"><i>{{sub.title.split("--")[1]}}</i></p>
          <a ng-href="/#/annotation-page/{{sub.url.replace('.html', '')}}">Read</a>
        </div>
      </div>
      <div ng-if="submissions.length == 0" class="animated fadeInLeft vertical-offset-70">
        <span class="fa fa-edit fa-3x"></span>
        <h4 class="">No articles yet...</h4>
      </div>
    </div>
  </div>

</div>
