<div class="container animated fadeInDown">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-6" id="aside-area">
      <h1>EasyRash project TODO</h1>
      <ol class="list-group">
        <li class="list-group-item">Update utente</li>
        <li class="list-group-item">Eliminare annotazioni</li>
        <li class="list-group-item">Modifcare annotazioni</li>
        <li class="list-group-item">Filtro annotazioni di altri</li>
        <li class="list-group-item">Visualizzazzione di tutte le annoatazioni</li>
        <li class="list-group-item">Salvataggio annotazioni</li>
        <li class="list-group-item">Conversioni annotazioni in RDF</li>
        <li class="list-group-item">Sistemare footer</li>
        <li class="list-group-item">Sistamre lista eventi</li>
        <li class="list-group-item">Fare dash</li>
        <li class="list-group-item">Sistemare pagina evneto</li>
      </ol>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-6" id="doc-area">
      <div class="container" id="doc-container">
        <div id="doc-content">
          <button ng-click="getInfo()">GET INFO</button>
          <p ng-if="memberinfo">
            {{memberinfo}}
          </p>
          <br><br>
          <button ng-click="destroySession()">DESTROY SESSION</button>
          <br><br>
          <button ng-click="logout()">LOGOUT</button>
          <br /><br />
          <div>
            Test
            <br />
            events: <a href="/#/events">Lista eventi</a><br />
            comments: <a href="/#/annotation-page/example-annotations">Esempio annotazione</a><br />
            comments2: <a href="/#/annotation-page/ciancarini-eswc2014">Esempio articolo lungo e complesso</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
